@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'BioRhyme', serif !important;
}

body {
  background-color: #c6d2ed;
}
.pointer{
  cursor: pointer !important;
}